.personal-info-wrapper {
  justify-content: flex-start;
  grid-gap: 100px;
  padding: 0 40px;

  .flex-item, .flex-item-for-info {
    width: 40%;

    .form-label {
      width: 100%;
    }
  }
}

.wrapper-for-contact {

  .phone-number-label {
    z-index: 99;
  }

  .phone-number-label-input {
    width: 74%;
    margin-left: -10px;
    z-index: 1;

    .form-input {
      padding: 0 40px;
    }
  }

  .z-index-0 {
    z-index: 0;
  }
}

.tutor-contact {
  .phone-number-label-input {
    width: 100%;

    .error-message {
      left: 30px;
    }
  }
}


@media screen and (max-width: 1200px) {
  .personal-info-wrapper {
    flex-wrap: wrap;
    grid-gap: 50px;

    .flex-item, .flex-item-for-info {
      width: 100%;
    }
  }
}
