.personal-info-wrapper {
  justify-content: space-between;
  padding: 0 178px 0 31px;

  .form-label {
    width: 418px;
  }

}

.wrapper-for-contact {

  .phone-number-label {
    z-index: 99;
  }

  .phone-number-label-input {
    width: 74%;
    margin-left: -10px;
    z-index: 1;

    .form-input {
      padding: 0 40px;
    }
  }

  .z-index-0 {
    z-index: 0;
  }
}

.tutor-contact {
  .phone-number-label-input {
    width: 100%;

    .error-message {
      left: 30px;
    }
  }
}
