.search-cards-item {
  display: flex;
  align-items: flex-start;
  width: 70%;
  grid-gap: 32px;
  padding: 30px 70px 30px 42px;
  margin: 0 auto 20px;
  border-radius: 25px;
  background: #fafcff;

  &-for-image {
    flex: 0 0 177px;
    width: 177px;
    height: 177px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid $secondary-brand-color;
    overflow: hidden;

    img {
      border-radius: 50%;
    }
  }
}
