.register-form {

  &-steps-wrapper {
    margin-bottom: 48px;
  }

  &-wrapper {
    padding-bottom: 206px;

    &__title {
      font: $type-bold normal 22px/29px $Segoe-UI-sans;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: $text-dark-color;
      margin-bottom: 32px;
    }
  }
}

.form {
  &-legend {
    font: $type-bold normal 24px/32px $Segoe-UI-sans;
    color: $title-color;
    margin-bottom: 25px;
  }

  &-item-label {
    margin-bottom: 4px;
    font: $type-regular normal $type-medium-size $Segoe-UI-sans;
    line-height: 24px;
    color: $clr-ntrl-max;
  }

  &-title {
    font: $type-regular normal 18px/ 24px $Segoe-UI-sans;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom: 20px;
  }

  &-item-notification {
    margin-bottom: 5px;
    font: $type-light normal $type-small $Roboto-sans;
    line-height: 20px;
    color: #DE9300;
  }
}

.register-step-form-border {
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 35px;
  padding-bottom: 35px;

  &:last-child {
    border: 0;
  }
}

.wrapper {
  height: 0;
  overflow: hidden;
  transition: 800ms;
}

.double-calendar {
  grid-gap: 34px;
}

.phone {
  &-region {
    position: absolute;
    display: flex;
    align-items: center;
    width: 125px;
    height: 50px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    padding: 12px 0 12px 10px;
    cursor: pointer;
  }

  &-code {
    display: flex;
    align-items: center;
    margin-left: 6px;
    font: $type-bold normal 18px/24px $Segoe-UI-sans;
    letter-spacing: 0.03em;
    color: $primary-color-dk;

    img {
      margin: 0 5px;
    }
  }
}

.flag {
  width: 39px;
  height: 26px;
}

.question-list {
  color: black;

  &__item {
    margin-bottom: 26px;

    .checkboxes-wrapper-flex {
      grid-gap: 15px 0;
      flex-wrap: wrap;
      margin-left: 47px;
    }
  }

  ol {
    list-style: auto;
  }
}

.main-question {
  margin-bottom: 4px;
  font: $type-regular normal $type-small $Segoe-UI-sans;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $clr-ntrl-max;
}

.sub-question {
  font: $type-regular normal 18px/ 24px $Segoe-UI-sans;
  letter-spacing: 0.03em;
  color: #737373;
  margin: -10px 0 12px;
}

.terms-conditions-link {
  text-decoration: underline;
  color: $secondary-icon-brand-color;
}

.user-sign-up-list__item {
  margin-bottom: 30px;
  font: $type-light normal $type-small $Roboto-sans;
  line-height: $type-base;
}

.input-notification {
  margin: 5px 0;
  color: $placeholder-color;
}

.address-form {
  padding: 0;
  margin: 0;

  &__item, .form-item-with-notification {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;

    .form-label {
      margin: 0;
    }

    &:empty {
      margin: 0;
    }

    .form-item-notification {
      position: absolute;
      bottom: -24px;
      margin: 5px 0;
    }

    .error-message {
      right: 0;
      left: unset;
    }
  }
}

.main-filters-content {
  .form-control.select {
    height: 38px;

    .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
      padding: 6px 10px;
    }
  }

  .form-input {
    width: 89px;
    height: 38px;
  }
}
