.tutor {
  &-step-wrapper {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-sign-up {

    &-wrapper {
      width: 1221px;
      margin: 76px auto 0;
      padding: 12px 44px 93px;
      background: rgba(197, 217, 255, 0.11);
      border-radius: 28px;
    }

    &-form-container {
      margin-top: 35px;
    }
  }
}

.group {
  &-title {
    font: $type-regular normal $type-medium-size $Segoe-UI-sans;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $clr-ntrl-max;
    margin-bottom: 5px;

    &__bold {
      font-weight: $type-bold;
      margin-bottom: 4px;
    }

    &__m {
      margin: 54px 0 30px;
    }
  }

  &-subtitle {
    font: $type-light normal 1rem / 1.25rem $Roboto-sans;
    color: #ff5c00;
    margin-bottom: 0;
  }
}
