/*********** Color Variables *************************/
$clr-ntrl-min: white;
$clr-ntrl-max: black;
$main-brand-color: #4e699c;
$secondary-brand-color: #8fb5fc;
$secondary-icon-brand-color: #ffb519;
$table-titles-color: #de9300;
$table-item-border-color: #f7f7f7;
$checked-checkbox-color: #00FF19;
$step-color: #dce8ff;
$title-color: #3862b0;
$danger-color: red;
$placeholder-color: #9a9a9a;
$text-dark-color: #343434;
$button-border-color: #ffe699;
$primary-color-dk: #646464;
$primary-color-lt: #606060;
$primary-color-ltr: #ccc;

/**************** Gap and Duration Variables **********************/
$vmargin: 150px;
$duration: 3s;
/****************** Z-Index Variables ******************/
$zIndex-1: 9;
$zIndex-2: 99;
$zIndex-3: 999;
$zIndex-4: 9999;
$zIndex-5: 99999;
/************ Typography Variables ******************/
/*  Font Size */
$type-micro: 0.625rem; /* 10px */
$type-smallest: 0.75rem; /* 12px */
$type-smaller: 0.875rem; /* 14px */
$type-small: 1rem; /* 16px */
$type-medium-size: 1.125rem; /* 18px */
$type-base: 1.25rem; /* 20px */
$type-large: 1.5625rem; /* 25px */
$type-large-responsive: 1.875rem; /* 35px */
$type-larger: 3.125rem; /* 50px */
$type-largest: 4.375rem; /* 70px */
$type-jumbo: 5.625; /* 90px */

/*  Font Weight */
$type-light: 300;
$type-regular: 400;
$type-medium: 500;
$type-semi-bold: 600;
$type-bold: 700;
$type-extra-bold: 900;

/*  Font Family */
$Open-sans: 'Open Sans', sans-serif;
$Roboto-sans: 'Roboto', sans-serif;
$Segoe-UI-sans: 'Segoe UI', sans-serif;

/****************** Border Radius Variables ******************/
$border-radius-circle: 50%;
$border-radius-small: 10px;
$border-radius-base: 15px;
