/* Start Button style */
.sophist-btn {
  width: 140px;
  height: 50px;
  font: $type-regular normal $type-medium-size $Segoe-UI-sans;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: rgba(255, 193, 7, 0.05);
  color: black !important;
  border: 1px solid #FFE699;
  box-sizing: border-box;
  border-radius: $border-radius-base;
  cursor: pointer;

  &:focus {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:active {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:hover {
    box-shadow: none;
    text-decoration: unset;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }
}

.button-wrapper {
  margin-top: 30px;
  grid-gap: 65px;

  &__mt {
    margin-top: 65px;
  }
}

.button-wrapper--max-margin {
  margin-top: 75px;
}

.remove-icon-wrapper {
  background: unset;
  width: 50px;
  background: $clr-ntrl-min;
  border: 1px solid rgba(113, 204, 255, 0.44);
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(113, 204, 255, 0.14);
  border-radius: 5px;
  margin-left: -84px;
  margin-right: 34px;
}

.add {
  background: #FFFFFF;
  border: 1px solid #8FB5FC;
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgba(143, 181, 252, 0.25);
  border-radius: 12px;
  width: 100px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #8FB5FC;
}

/* End Button style */
