/* Start Button style */
.sophist-btn {
  width: 140px;
  height: 50px;
  font: $type-regular normal $type-medium-size $Segoe-UI-sans;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: rgba(255, 193, 7, 0.05);
  color: black !important;
  border: 1px solid #FFE699;
  box-sizing: border-box;
  border-radius: $border-radius-base;
  cursor: pointer;

  &:focus {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:active {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:hover {
    box-shadow: none;
    text-decoration: unset;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }
}

.button-wrapper {
  margin-top: 30px;
  grid-gap: 65px;

  &__mt {
    margin-top: 65px;
  }
}

.button-wrapper--max-margin {
  margin-top: 75px;
}

.remove-icon-wrapper {
  background: unset;
  width: 50px;
  background: $clr-ntrl-min;
  border: 1px solid rgba(113, 204, 255, 0.44);
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(113, 204, 255, 0.14);
  border-radius: 5px;
  margin-left: -84px;
  margin-right: 34px;
}

.add {
  width: 100px;
  height: 39px;
  margin-left: auto;
  border: 1px solid $secondary-brand-color;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgba(143, 181, 252, 0.25);
  font: $type-regular normal $type-small $Segoe-UI-sans;
  color: $secondary-brand-color;
  background: $clr-ntrl-min;
}

/* End Button style */
.settings-form-button {
  align-self: center;
  height: 50px;
  width: auto;
  padding: 13px 16px;
  border-radius: 15px;
  border: 0;
  margin-top: 40px;
  font: $type-regular normal $type-medium-size $Segoe-UI-sans;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;
  color: $clr-ntrl-min;
  background: $dark-blue-color;

  &__with-border {
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    font: $type-regular normal $type-medium-size $Segoe-UI-sans;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    background-color: unset;

    &.button-border--blue {
      padding: 0 34px;
      border: 1px solid $dark-blue-color;
      font-weight: $type-bold;
      color: $dark-blue-color;
    }

    &.button-border--green {
      padding: 0 46px;
      border: 1px solid rgba(164, 217, 166, 0.58);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      color: #4E9651;
    }
  }

  &--green {
    height: 45px;
    margin: 0;
    font-weight: $type-bold;
    text-transform: capitalize;
    background-color: #68EE8D;
    color: $clr-ntrl-min;
  }

  &--blue {
    height: 45px;
    margin: 0;
    font-weight: $type-bold;
    text-transform: capitalize;
  }
}

.grid-gap-for {
  &-buttons {
    grid-gap: 35px;
    margin-top: 32px;
  }

  &-icons {
    grid-gap: 13px;
  }
}

.recycle-bin-wrapper {
  width: 45px;
  height: 45px;
  padding: 5px;
  background: $clr-ntrl-min;
  border: 1px solid rgba(113, 204, 255, 0.44);
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(113, 204, 255, 0.14);
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-less {
  width: 139px;
  height: 45px;
  border-radius: 10px;
  border: 0;
  font: $type-bold normal $type-medium-size $Segoe-UI-sans;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $clr-ntrl-min;
  background: #FF6400;
}

.lesson-status-btn {
  width: 70px;
  height: 35px;
  border-radius: 8px;
  border: 0;
  font: $type-light normal $type-small $Roboto-sans;

  &.lesson-status-btn__start {
    background-color: #7CED80;
    color: $clr-ntrl-max;
  }

  &.lesson-status-btn__end {
    background-color: #FF2929;
    color: $clr-ntrl-min;
  }

  &.lesson-status-btn__cancel {
    background-color: #A8A8A8;
    color: $clr-ntrl-min;
  }
}

.button-wrapper {
  .next-btn,
  .sophist-btn,
  .previous-btn {
    color: black;
  }
}

.print-btn{
  margin: 0 0 0 4px;
  text-transform: capitalize;
  background-color: #C0CBD6;
  color: #3F3F3F;
}
