/*Styling Selectbox*/
.double-select {
  display: flex;
  grid-gap: 34px;
}

.dropdown-menu-with-selected-icon {
  position: relative;
}

.date-picker-container {
  grid-gap: 25px;
}

.date-picker-container .fa-plus {
  cursor: pointer;
}

.mb {
  margin-bottom: 20px;
}

.selectRow {
  gap: 24px;
}
