.tutor-settings-page {
  &-title {
    margin-bottom: 23px;
    font: $type-bold normal $type-medium-size $Segoe-UI-sans;
    line-height: 24px;
    color: #3B5892;
  }

  &-legend {
    display: flex;
    grid-gap: 117px;
    margin-bottom: 41px;

    h3, h4 {
      margin: 0;
    }

    .form-legend-title-tab {
      margin-bottom: 6px;
      font: $type-regular normal $type-medium-size $Segoe-UI-sans;
      text-transform: capitalize;
      line-height: 24px;
      color: $clr-ntrl-max;

      &.active {
        border-bottom: 2px solid #F3F3F3;;
        font: $type-bold normal $type-medium-size $Segoe-UI-sans;
        font-size: 20px;
        line-height: 27px;
        color: #3B5892;
      }
    }
  }
}
