.settings-wrapper {
  padding: 0 140px;
  margin: 50px 0 200px;

  &-title {
    grid-gap: 12px;
    margin-bottom: 62px;
    font: $type-bold normal 22px $Roboto-sans;
    line-height: 26px;
    color: $clr-ntrl-max;

    img {
      width: 23px;
      height: 23px;
    }
  }

  .user-setting {
    &-list {
      margin-right: 52px;

      &__item {
        height: 44px;
        padding: 0 12px;
        box-sizing: border-box;
        font: $type-regular normal $type-medium-size $Roboto-sans;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: $clr-ntrl-max;
        white-space: nowrap;
        cursor: pointer;

        &.active {
          justify-content: center;
          border: 1px solid #D0D9EB;
          border-radius: 28.5px;
          background: rgba(238, 244, 255, 0.45);
          color: #3B5892;
          font: $type-bold normal 20px $Roboto-sans;
        }
      }
    }

    &-main-info {
      flex: 1;
      min-height: 504px;
      padding: 30px 58px 60px;
      background: $clr-ntrl-min;
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.14);
      border-radius: 28px;
    }
  }

  .full-height-container {
    align-items: stretch;
  }
}

