.profile-wrapper {
  .form-label--flex-container {
    margin-bottom: 5px;
  }

  .user-sign-up-list__item {
    margin-bottom: 70px;
  }

  .large-size {
    .form-textarea {
      width: calc(100% - 116px);
      height: auto;
      padding: 15px 20px;
    }
  }

  .settings-form-button {
    margin: 0 auto;
  }
}

.profile {

  &-section {
    &__title {
      display: flex;
      grid-gap: 7px;
      font: $type-regular normal 20px $Roboto-sans;
      line-height: 20px;
      text-transform: capitalize;
      white-space: nowrap;
      color: $clr-ntrl-max;
    }

    hr {
      width: 100%;
      background-color: $secondary-brand-color;
    }

    .nested-info {
      padding: 29px 60px 45px;

      .grid-gap-152 {
        grid-gap: 54px 152px;
        flex-wrap: wrap;
      }

      .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        width: 60%;
      }

      .grid-gap-54 {
        grid-gap: 54px;
      }

      .large-mr {
        margin-right: 98px;
      }

      &.without-side-padding {
        padding: 27px 60px;
      }
    }

    &__description {
      margin-bottom: 10px;
      font: $type-light normal $type-small $Roboto-sans;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: $clr-ntrl-max;
    }

    .read-more {
      display: inline-block;
      background-color: unset;
      border: unset;
      font: $type-light normal $type-small $Roboto-sans;
      line-height: 20px;
      text-decoration: underline;
      color: #00B81d;
    }

    &-subItems {
      border-bottom: 1px solid $border-color;;
      margin-bottom: 9px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }

    &--subtitle {
      margin: 0;
      font: $type-bold normal $type-small $Roboto-sans;
      line-height: normal;
      letter-spacing: 0.03em;
      color: $clr-ntrl-max;
    }

    &--subDescription {
      padding: 5px 0 9px;
      margin: 0;
      font: $type-light normal $type-small $Roboto-sans;
      letter-spacing: 0.03em;
      color: $clr-ntrl-max;
    }
  }

  &-cards {
    &__Info {
      grid-gap: 5px;
      flex: 1;

      &--title {
        font: $type-regular normal 23px $Roboto-sans;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: $clr-ntrl-max;
      }

      &--position {
        font: $type-bold normal $type-medium-size $Roboto-sans;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #255CC4;
      }

      &--description {
        width: 95%;
        font: $type-light normal $type-medium-size $Roboto-sans;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: $clr-ntrl-max;


        .read-more {
          border: 0;
          font: $type-light normal $type-smaller $Roboto-sans;
          line-height: 30px;
          letter-spacing: 0.03em;
          text-decoration-line: underline;
          background-color: unset;
          color: #204996;
        }
      }

      &--headline {
        font: $type-bold normal 19px $Segoe-UI-sans;
        line-height: 25px;
        color: $clr-ntrl-max;
        margin-bottom: -5px;
      }

      &--subject {
        display: inline-block;
        margin: 5px 0;
        font: $type-regular normal $type-medium-size $Roboto-sans;
        color: $dark-blue-color;
      }

      &--time {
        font: $type-light normal $type-medium-size $Roboto-sans;
        color: $clr-ntrl-max;
        display: block;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      grid-gap: 12px;

      &--price {
        margin-bottom: 0;
        font: $type-bold normal 22px $Roboto-sans;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: $clr-ntrl-max;
      }

      &--rating {
        display: flex;
        align-items: center;
        grid-gap: 15px;
        line-height: 0;
      }

      &--time {
        margin-bottom: 0;
        grid-gap: 16px;
        font: $type-light normal $type-medium-size $Roboto-sans;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #151A6A;

        img {
          width: auto;
        }
      }

      &--cancellation {
        grid-gap: 16px;
        margin-bottom: 0;
        font: $type-regular normal $type-medium-size $Roboto-sans;
        line-height: 21px;
        color: #508CFF;

        img {
          width: auto;
        }
      }

      &--bold {
        margin-bottom: 0;
        font: $type-bold normal 22px $Roboto-sans;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: $clr-ntrl-max;

        .light-text {
          margin-left: 10px;
          font: $type-light normal 22px $Roboto-sans;
        }
      }
    }

    &__buttons-wrapper {
      display: flex;
      flex-direction: column;
      grid-gap: 14px;

      button {
        width: 158px;
        text-transform: capitalize;
        color: white;
      }
    }
  }
}

.calendar-datepicker-wrappers {
  .mat-form-field-underline {
    display: none;
  }
}
